.box {
	height: 50px;
	width: 50px;
	border-radius: 7px;
}
.box.a {
	background-color: red;
}
.box.b {
	background-color: yellow;
}
.box.c {
	background-color: green;
}
.box.d {
	background-color: rgb(69, 69, 69);
}
